*{
    margin: 0;
    padding: 0;
}
.page{
    background-color: white;
}
.page.dark{
    background-color: black;
    color: white;
}
.header{
padding: 20px 200px;
background-color: darkolivegreen;
display: flex;
justify-content: center;
align-items: center;
gap: 50px;
margin: 0 auto;
position: sticky;
top: 0;
z-index: 999;

}
.header__list{
list-style-type: none;
display: flex;
gap: 20px;
justify-content: center;
}
.header__link{
color:beige;
text-decoration: none;
font-size: 18px;
}
.header__link:hover{
    opacity:0.5;
}
.header__logo{
    width:50px;
  
}
.header__theme{
    position: relative;
  
}
.header__theme-content{
    display: none;
    position: absolute;
    left: -8px;
    top: 20px;
}

.header__theme:hover .header__theme-content{
    display: flex;
  max-width: 200px;
  gap: 10px;
  background-color: rgba(0,0,0,.3);
}
.header__button{
    color: beige;
    background-color: transparent;
    border: none;
    font-size: 17px;
}
.header__button-link{
cursor: pointer;
font-size: 18px;
color: white;
}
.header__button-link:hover{
opacity: 0.5;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 50px 50px;
}
.content__heading{
    text-align: center;
    font-size: 38px;
    font-style: italic;
    padding-top: 20px;
}
.category{
margin: 0 auto;
}
.category__title{
padding: 30px 0;
font-size: 30px;
}
.category__container{
display: grid;
grid-template-columns:repeat(5, 1fr);
gap: 20px;
flex-wrap: wrap;
}
.card{
box-shadow: 0 0 10px rgba(30, 166, 96, 0.3);
border-radius: 50px;
display: flex;
flex-direction: column;
}

.card__image{
width:100%;
height:350px;
object-fit:cover;
border-radius: 50px 50px 0 0;
cursor: pointer;
}
.card__description{
display: flex;
justify-content: space-between;
padding: 10px 30px;

}
.card__price{
    padding-left: 8px;
    font-weight: 700;
}
.card__button{
    margin: 10px auto;
    background-color: white;
    color:olivedrab;
    box-shadow: 0 0 10px rgba(30, 166, 96, 0.3);
    border: 1px solid rgba(30, 166, 96, 0.3);
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.4s;
    
}
.card__button:hover{
    background-color:seagreen;
    color: white;
}
.card__date{
    text-align: center;
    font-size: 14px;
    color: gray;
}

.popup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}
.popup_opened{
        display: flex;
        opacity: 1;
        pointer-events: auto;
}
.popup__container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    position: relative;
    box-sizing: border-box;
    padding: 45px 60px;
   display: grid;
   /* flex-direction: column; */
   grid-template-columns: repeat(2, 1fr);
   gap: 25px;
   max-height: 500px;
   max-width: 600px;
    color: black;
}
.popup__title{
grid-column: 1/2;
color: black;
}
.popup__close-icon{
    background-image: url("./images/free-icon-cross-mark-17047.png");
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: transparent;
    top: 5px;
    right: 5px;
    padding: 0;
    border: 0px;
    background-size: cover;
    cursor: pointer;
}

.popup__close-icon:hover {
    opacity: .2;
}
.popup__image{
    height:300px;
    object-fit: cover;
    width: 100%;
    grid-column: 1/2;
}
.popup__price{
    text-align: center;
    grid-column: 1/2;
}
.popup__date{
    font-style: italic;
    text-align: center;
}
.categories{
box-shadow: 0 0 10px rgba(30, 166, 96, 0.3);
border-radius: 50px;
padding: 50px;
background-color: #f8faf7;
}
.categories__list{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.categories__link:hover{
    opacity:0.5;
}

.button-up{ 
     background-image: url('./images/free-icon-up-chevron-7604793.png'); 
     position: fixed;
     right: 30px;
     bottom: 20px;
     width: 60px;
     height: 60px;
     background-size: 100%;
     border: none;
     background-color: transparent;
     display:none;
}
.button-up:hover{
    opacity: 0.5;
}
.button-up_dark{
    background-color: white;
    border-radius: 50%;
     height: 60px;
}
.button-up_active{
display:block;
}
.form{
    display: flex;
    flex-direction: column;
     /* gap:20px;  */
    grid-column: 2/3;
    align-items: center;
}

.form__radio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-bottom:30px;
}
.form__button{
margin-top: auto;
background-color:seagreen;
    color: white;
    border-radius: 50px;
padding:5px 20px;
border: none;
transition: 0.6s;
grid-column: 2/3;

}
.form__button:hover{
    background-color:seagreen;
    box-shadow: 0 0 10px rgba(30, 166, 96, 0.3);
border-radius: 50px;
color: black;
background-color: #f8faf7;
}
.form__title{
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
}
.form__input-comment{
    padding: 8px;
}
.form__info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form__number{
    align-self: flex-start;
    padding:0 20px 5px;
}
a {
    color: black;
    text-decoration: none;
    font-size: 24px;
}
a.dark{
color: white;
}
